.hero-card__main {
  display: flex;
  flex-direction: column;
  width: 100%;

  .hero-card__portrait {
    border-bottom: 3px solid #ff0000;
    cursor: pointer;
    width: 100%;
  }

  .hero-card__info {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 1.05rem;

    span {
      color: #333;
      cursor: pointer;
    }
  }

  &:hover {
    .hero-card__portrait {
      border-bottom-color: #b50000;
    }

    .hero-card__info span {
      color: #b50000;
    }
  }
}

a {
  text-decoration: none;
}
