.luiza-heroes-not-found {
    max-height: 400px;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    color: #666;
    img {
        opacity: 0.2;
        max-height: 180px;
    }

    a {
        color: #F00;
    }
}