.luiza-heroes-character-info {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  position: relative;
  align-items: center;

  &__details {
    z-index: 5;
    margin: 0 auto;
    @media (min-width: 576px) {
      margin: unset;
      flex-basis: 35%;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 2rem;
      text-transform: uppercase;
    }
  }

  &__img {
    margin: auto 0;
    &--mobile {
      max-width: 100%;
      height: auto;
    }

    &--desktop {
      box-shadow: 3px 2px 8px #00000058;
    }
  }

  &__img-area {
    z-index: 5;
  }

  &__img-bg {
    position: absolute;
    background: #ff0000;
    height: 110%;
    width: 100%;
    top: -24px;
    z-index: -1;
    opacity: 0.8;
    transform: rotateZ(6deg);
  }

  &__bg-name {
    user-select: none;
    cursor: default;
    font-size: 9rem;
    font-weight: 700;
    color: white;
    position: absolute;
    width: 100%;
    overflow-x: hidden;
    left: 140px;
    top: 45px;
    opacity: 0.4;
    text-transform: uppercase;
  }

  &__stat {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-weight: 600;

    span {
      margin-left: 10px;
    }
    div {
      vertical-align: middle;
    }
  }

  &__rating {
    font-weight: 600;
    margin-top: 20px;
    span {
      margin-right: 10px;
    }
  }

  &__last-comic {
    span {
      font-weight: 600;
    }
  }

  &__back {
    color: #f00;
    font-weight: 500;
  }
}
